html,
body {
    height: 100vh;
}

:root {
    --color1: #007F73;
    --color2: #4CCD99;
    --color3: #FFC700;
    --color4: #FFF455;
    --color5: #FDA403;
    --color6: #E8751A; 
}

.animated-background {
    background: -webkit-repeating-linear-gradient(
        -45deg, var(--color1), var(--color2), var(--color3), var(--color4), var(--color5), var(--color6)
        var(--color4), var(--color3), var(--color2), var(--color1)
    );

    background-size: 400% 400%;

    -webkit-animation: wave 30s ease-in-out infinte;

}

@-webkit-keyframes wave {
    0%{
        background-position: 0% 50%;
    }

    50%{ 
        backgroound-position: 100% 50%;
    }

    100%{
        background-position: 0% 50%;
    }
}

footer {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
}